#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Subsystems"

rsource "ctr_accel/Kconfig"
rsource "ctr_adc/Kconfig"
rsource "ctr_ble/Kconfig"
rsource "ctr_button/Kconfig"
rsource "ctr_config/Kconfig"
rsource "ctr_ds18b20/Kconfig"
rsource "ctr_edge/Kconfig"
rsource "ctr_flash/Kconfig"
rsource "ctr_gnss/Kconfig"
rsource "ctr_gpio/Kconfig"
rsource "ctr_hygro/Kconfig"
rsource "ctr_info/Kconfig"
rsource "ctr_led/Kconfig"
rsource "ctr_lrw/Kconfig"
rsource "ctr_lte/Kconfig"
rsource "ctr_machine_probe/Kconfig"
rsource "ctr_rtc/Kconfig"
rsource "ctr_rtd/Kconfig"
rsource "ctr_signal/Kconfig"
rsource "ctr_soil_sensor/Kconfig"
rsource "ctr_test/Kconfig"
rsource "ctr_therm/Kconfig"
rsource "ctr_w1/Kconfig"
rsource "ctr_wdog/Kconfig"
rsource "ctr_weight_probe/Kconfig"

endmenu
