menu "Subsystems"

rsource "ctr_adc/Kconfig"
rsource "ctr_accel/Kconfig"
rsource "ctr_ble/Kconfig"
rsource "ctr_gnss/Kconfig"
rsource "ctr_gpio/Kconfig"
rsource "ctr_info/Kconfig"
rsource "ctr_led/Kconfig"
rsource "ctr_lrw/Kconfig"
rsource "ctr_lte/Kconfig"
rsource "ctr_signal/Kconfig"

endmenu
