/*
 * Copyright (c) 2023 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */

&i2c0 {
	ctr_b1_tca9534a: ctr_b1_tca9534a@3e {
		compatible = "ti,tca9538";
		status = "okay";
		reg = <0x3e>;
		#gpio-cells = <2>;
		gpio-controller;
		ngpios = <8>;
	};
};
