#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_SIGNAL
	bool "CTR_SIGNAL"
	select CBPRINTF_FP_SUPPORT if CTR_SIGNAL_LOG_LEVEL_DBG
	select NRFX_PPI
	select NRFX_SAADC
	select NRFX_TIMER
	select NRFX_TIMER4

if CTR_SIGNAL

module = CTR_SIGNAL
module-str = CHESTER Signal Measurement Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_SIGNAL
