#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

if SHIELD_PEOPLE_COUNTER

config I2C
	default y

config PEOPLE_COUNTER
	default y

endif # SHIELD_PEOPLE_COUNTER
