# Workaround for not being able to have commas in macro arguments
DT_COMPAT_NXP_PCAL6416A := nxp,pcal6416a

menuconfig GPIO_PCAL6416A
	bool "PCAL6416A I2C GPIO chip"
	default $(dt_compat_enabled,$(DT_COMPAT_NXP_PCAL6416A))
	depends on I2C
	help
	  Enable driver for PCAL6416A I2C GPIO chip.

config GPIO_PCAL6416A_INIT_PRIORITY
	int "Init priority"
	default 70
	depends on GPIO_PCAL6416A
	help
	  Device driver initialization priority.
