#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

if SHIELD_CTR_X14_A

config NET_L2_ETHERNET
	default y

config NETWORKING
	default y

endif # SHIELD_CTR_X14_A
