#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

if SHIELD_CTR_A1

config CTR_A1
	default y

config GPIO
	default y

config GPIO_PCA953X
	default y

config I2C
	default y

endif # SHIELD_CTR_A1
