config CTR_DEFAULTS
	bool "CTR_DEFAULTS"

config HEAP_MEM_POOL_SIZE
	default 8192 if CTR_DEFAULTS

# TODO Uncomment this when named choices get to mainline:
# https://github.com/zephyrproject-rtos/zephyr/pull/39305
# choice SHT3XD_MEASUREMENT_MODE
# 	default SHT3XD_SINGLE_SHOT_MODE if CTR_DEFAULTS && CTR_HYGRO
# endchoice
