config CTR_DEFAULTS
	bool "CTR_DEFAULTS"

config IDLE_STACK_SIZE
	default 1024 if CTR_DEFAULTS

config ISR_STACK_SIZE
	default 4096 if CTR_DEFAULTS

config HEAP_MEM_POOL_SIZE
	default 8192 if CTR_DEFAULTS

config MAIN_STACK_SIZE
	default 4096 if CTR_DEFAULTS

config SEGGER_RTT_BUFFER_SIZE_DOWN
	default 4096 if CTR_DEFAULTS && CTR_SHELL

config SEGGER_RTT_BUFFER_SIZE_UP
	default 4096 if CTR_DEFAULTS && CTR_SHELL

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 4096 if CTR_DEFAULTS

# TODO Uncomment this when named choices get to mainline:
# https://github.com/zephyrproject-rtos/zephyr/pull/39305
# choice SHT3XD_MEASUREMENT_MODE
# 	default SHT3XD_SINGLE_SHOT_MODE if CTR_DEFAULTS && CTR_HYGRO
# endchoice
