config CTR_CONFIG
	bool "CTR_CONFIG"
	select CTR_SDK
	select FLASH_MAP
	select NVS
	select SETTINGS
	select SETTINGS_RUNTIME

config CTR_CONFIG_INIT_PRIORITY
	int "CTR_CONFIG_INIT_PRIORITY"
	default 0
	depends on CTR_CONFIG
