#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_SHELL
	bool "CTR_SHELL"
	select REBOOT
	select SHELL
	select SHELL_BACKEND_RTT
	select SHELL_BT_NUS if CTR_BLE
	select SHELL_HELP
	select SHELL_HELP_ON_WRONG_ARGUMENT_COUNT
	select SHELL_MINIMAL
	select SHELL_STATS
	select USE_SEGGER_RTT

config CLOCK_CONTROL_NRF_SHELL
	default n if CTR_SHELL

config KERNEL_SHELL
	default y if CTR_SHELL

config SHELL_BACKEND_DUMMY_BUF_SIZE
	default 4096 if CTR_SHELL

config SHELL_CMD_BUFF_SIZE
	default 256 if CTR_SHELL

config SHELL_ECHO_STATUS
	default n if CTR_SHELL

config SHELL_LOG_BACKEND
	default n if CTR_SHELL

config SHELL_PROMPT_RTT
	default "" if CTR_SHELL

config SHELL_RTT_RX_POLL_PERIOD
	default 200 if CTR_SHELL

config SHELL_STACK_SIZE
	default 4096 if CTR_SHELL

config SHELL_VT100_COMMANDS
	default n if CTR_SHELL
