config HIO_BLE
	bool "HIO_BLE"
	select HIO_SDK
	select BT
	select BT_NUS
	select BT_PERIPHERAL
	select MCUMGR_CMD_IMG_MGMT
	select MCUMGR_CMD_OS_MGMT
	select MCUMGR_SMP_BT

config HIO_BLE_INIT_PRIORITY
	int "HIO_BLE_INIT_PRIORITY"
	depends on HIO_BLE
	default 1

config BT_RX_STACK_SIZE
	default 4096 if HIO_BLE

config BT_CTLR_RX_PRIO_STACK_SIZE
	default 2048 if HIO_BLE

config BT_L2CAP_TX_MTU
	default 252 if HIO_BLE

config BT_BUF_ACL_RX_SIZE
	default 256 if HIO_BLE

config MCUMGR_SMP_BT_AUTHEN
	default n if HIO_BLE

config BT_DEVICE_NAME
	default "CHESTER 3" if HIO_BLE

config SHELL_BT_NUS
	default y if HIO_BLE

config SHELL_BT_NUS_RX_RING_BUFFER_SIZE
	default 256 if HIO_BLE

config SHELL_BT_NUS_TX_RING_BUFFER_SIZE
	default 256 if HIO_BLE
