config CTR_BLE
	bool "CTR_BLE"
	select CTR_SDK
	select BT
	select BT_NUS
	select BT_PERIPHERAL
	select MCUMGR_CMD_IMG_MGMT
	select MCUMGR_CMD_OS_MGMT
	select MCUMGR_SMP_BT

config CTR_BLE_INIT_PRIORITY
	int "CTR_BLE_INIT_PRIORITY"
	depends on CTR_BLE
	default 1

config BT_RX_STACK_SIZE
	default 4096 if CTR_BLE

config BT_CTLR_RX_PRIO_STACK_SIZE
	default 2048 if CTR_BLE

config BT_L2CAP_TX_MTU
	default 252 if CTR_BLE

config BT_BUF_ACL_RX_SIZE
	default 256 if CTR_BLE

config MCUMGR_SMP_BT_AUTHEN
	default n if CTR_BLE

config BT_DEVICE_NAME
	default "CHESTER 3" if CTR_BLE

config SHELL_BT_NUS
	default y if CTR_BLE

config SHELL_BT_NUS_RX_RING_BUFFER_SIZE
	default 256 if CTR_BLE

config SHELL_BT_NUS_TX_RING_BUFFER_SIZE
	default 256 if CTR_BLE
