#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

rsource "Kconfig.defaults"
rsource "Kconfig.log"
rsource "Kconfig.shell"

rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "subsys/Kconfig"
