menuconfig CTR_SDK
	bool "CTR_SDK"
	select CTR_SHELL

if CTR_SDK

config CTR_CHESTER_X3
	bool "CTR_CHESTER_X3"

config CTR_TEST
	bool "CTR_TEST"

endif # CTR_SDK

# #############################################################################
# CTR_SDK

config ASSERT
	default y if CTR_SDK

config CBPRINTF_FP_SUPPORT
	default y if CTR_SDK

config DEBUG
	default y if CTR_SDK

config HEAP_MEM_POOL_SIZE
	default 2048 if CTR_SDK

config KERNEL_SHELL
	default y if CTR_SDK

config MAIN_STACK_SIZE
	default 4096 if CTR_SDK

config NEWLIB_LIBC_FLOAT_PRINTF
	default y if CTR_SDK

config NEWLIB_LIBC_FLOAT_SCANF
	default y if CTR_SDK

config NRFX_UARTE0
	default y if CTR_SDK

config NRFX_UARTE1
	default y if CTR_SDK

config PM_DEVICE
	default y if CTR_SDK

config REBOOT
	default y if CTR_SDK

config REQUIRES_FULL_LIBC
	default y if CTR_SDK

config RING_BUFFER
	default y if CTR_SDK

config SEGGER_RTT_BUFFER_SIZE_DOWN
	default 4096 if CTR_SDK

config SEGGER_RTT_BUFFER_SIZE_UP
	default 4096 if CTR_SDK

config SERIAL
	default y if CTR_SDK

config SYSTEM_WORKQUEUE_STACK_SIZE
	default 3072 if CTR_SDK

config UART_0_INTERRUPT_DRIVEN
	default n if CTR_SDK

config UART_0_NRF_HW_ASYNC
	default y if CTR_SDK

config UART_0_NRF_HW_ASYNC_TIMER
	default 1 if CTR_SDK

config UART_1_INTERRUPT_DRIVEN
	default n if CTR_SDK

config UART_1_NRF_HW_ASYNC
	default y if CTR_SDK

config UART_1_NRF_HW_ASYNC_TIMER
	default 2 if CTR_SDK

config UART_ASYNC_API
	default y if CTR_SDK

config UART_INTERRUPT_DRIVEN
	default y if CTR_SDK

config UART_LINE_CTRL # TODO We should not need to enable this
	default y if CTR_SDK

config USE_SEGGER_RTT
	default y if CTR_SDK

# #############################################################################
# CTR_TEST

if CTR_TEST

config CTR_TEST_INIT_PRIORITY
	int "CTR_TEST_INIT_PRIORITY"
	default 99

endif # CTR_TEST

# rsource "Kconfig.test"

rsource "Kconfig.accel"
rsource "Kconfig.bsp"
rsource "Kconfig.button"
rsource "Kconfig.chester_x0d"
rsource "Kconfig.config"
rsource "Kconfig.hygro"
rsource "Kconfig.led"
rsource "Kconfig.log"
rsource "Kconfig.rtc"
rsource "Kconfig.shell"
rsource "Kconfig.therm"

rsource "drivers/Kconfig"
rsource "subsys/Kconfig"

# config CTR_SDK
# 	bool "CTR_SDK"
# 	select BOOTLOADER_MCUBOOT
# 	select MCUMGR
#
# if CTR_SDK
#
# config CTR_CHESTER_X3
# 	bool "CTR_CHESTER_X3"
#
# config CTR_ACCEL
#	bool "CTR_ACCEL"
#	select SENSOR
#	select LIS2DH
#
# config CTR_HYGRO
#	bool "CTR_HYGRO"
#	select SENSOR
#	select SHT3XD
#	select SHT3XD_SINGLE_SHOT_MODE
#
# config CTR_THERM
#	bool "CTR_THERM"
#	select SENSOR
#	select TMP112
#
# endif # CTR_SDK
#
# # #############################################################################
# # CTR_SDK
#
# config ADC
# 	default y if CTR_SDK
#
# config ADC_SHELL
# 	default n if CTR_SDK
#
# config ASSERT
# 	default y if CTR_SDK
#
# config CBPRINTF_FP_SUPPORT
# 	default y if CTR_SDK
#
# config DEBUG
# 	default y if CTR_SDK
#
# config HEAP_MEM_POOL_SIZE
# 	default 2048 if CTR_SDK
#
# config I2C
# 	default y if CTR_SDK
#
# config KERNEL_SHELL
# 	default y if CTR_SDK
#
# config LOG
# 	default y if CTR_SDK
#
# config LOG_BACKEND_RTT
# 	default y if CTR_SDK
#
# config LOG_BACKEND_RTT_BUFFER
# 	default 1 if CTR_SDK
#
# config LOG_BACKEND_RTT_BUFFER_SIZE
# 	default 4096 if CTR_SDK
#
# config LOG_BACKEND_SHOW_COLOR
# 	default n if CTR_SDK
#
# config LOG_SPEED
# 	default y if CTR_SDK
#
# config MAIN_STACK_SIZE
# 	default 4096 if CTR_SDK
#
# config NEWLIB_LIBC_FLOAT_PRINTF
# 	default y if CTR_SDK
#
# config NEWLIB_LIBC_FLOAT_SCANF
# 	default y if CTR_SDK
#
# config NFCT_PINS_AS_GPIOS
# 	default y if CTR_SDK
#
# config NRFX_RTC2
# 	default y if CTR_SDK
#
# config NRFX_UARTE0
# 	default y if CTR_SDK
#
# config NRFX_UARTE1
# 	default y if CTR_SDK
#
# config NVS
# 	default y if CTR_SDK
#
# config PM_DEVICE
# 	default y if CTR_SDK
#
# config REBOOT
# 	default y if CTR_SDK
#
# config REQUIRES_FULL_LIBC
# 	default y if CTR_SDK
#
# config RING_BUFFER
# 	default y if CTR_SDK
#
# config SEGGER_RTT_BUFFER_SIZE_DOWN
# 	default 4096 if CTR_SDK
#
# config SEGGER_RTT_BUFFER_SIZE_UP
# 	default 4096 if CTR_SDK
#
# config SERIAL
# 	default y if CTR_SDK
#
# config SETTINGS
# 	default y if CTR_SDK
#
# config SETTINGS_RUNTIME
# 	default y if CTR_SDK
#
# config SHELL
# 	default y if CTR_SDK
#
# config SHELL_BACKEND_RTT
# 	default y if CTR_SDK
#
# config SHELL_CMDS
# 	default y if CTR_SDK
#
# config SHELL_DEFAULT_TERMINAL_WIDTH
# 	default 1024 if CTR_SDK
#
# config SHELL_ECHO_STATUS
# 	default n if CTR_SDK
#
# config SHELL_HELP
# 	default y if CTR_SDK
#
# config SHELL_HELP_ON_WRONG_ARGUMENT_COUNT
# 	default y if CTR_SDK
#
# config SHELL_LOG_BACKEND
# 	default n if CTR_SDK
#
# config SHELL_MINIMAL
# 	default y if CTR_SDK
#
# config SHELL_PROMPT_RTT
# 	default "" if CTR_SDK
#
# config SHELL_RTT_RX_POLL_PERIOD
# 	default 200 if CTR_SDK
#
# config SHELL_STATS
# 	default y if CTR_SDK
#
# config SPI
# 	default y if CTR_SDK
#
# config SYSTEM_WORKQUEUE_STACK_SIZE
# 	default 3072 if CTR_SDK
#
# config UART_0_INTERRUPT_DRIVEN
# 	default n if CTR_SDK
#
# config UART_0_NRF_HW_ASYNC
# 	default y if CTR_SDK
#
# config UART_0_NRF_HW_ASYNC_TIMER
# 	default 1 if CTR_SDK
#
# config UART_1_INTERRUPT_DRIVEN
# 	default n if CTR_SDK
#
# config UART_1_NRF_HW_ASYNC
# 	default y if CTR_SDK
#
# config UART_1_NRF_HW_ASYNC_TIMER
# 	default 2 if CTR_SDK
#
# config UART_ASYNC_API
# 	default y if CTR_SDK
#
# config UART_INTERRUPT_DRIVEN
# 	default y if CTR_SDK
#
# config UART_LINE_CTRL
# 	default y if CTR_SDK
#
# config USE_SEGGER_RTT
# 	default y if CTR_SDK
#
