{#- COPYRIGHT AND LICENSE #}
{%- if data['project']['company'] or data['project']['license'] -%}
/*
	{%- if data['project']['company'] %}
 * Copyright (c) {{data['project']['company']}}
	{%- endif %}
	{%- if data['project']['company'] and data['project']['license'] %}
 * 
	{%- endif %}
	{%- if data['project']['license'] %}
 * {{data['project']['license'] }}
	{%- endif %}
 */
{% raw %}
{% endraw %}
{%- endif -%}

#ifndef APP_SEND_H_
#define APP_SEND_H_

#ifdef __cplusplus
extern "C" {
#endif

int app_send(void);

#ifdef __cplusplus
}
#endif

#endif /* APP_SEND_H_ */
