{#- COPYRIGHT AND LICENSE #}
{%- if data['project']['company'] or data['project']['license'] -%}
/*
	{%- if data['project']['company'] %}
 * Copyright (c) {{data['project']['company']}}
	{%- endif %}
	{%- if data['project']['company'] and data['project']['license'] %}
 *
	{%- endif %}
	{%- if data['project']['license'] %}
 * {{data['project']['license'] }}
	{%- endif %}
 */
{% raw %}
{% endraw %}
{%- endif -%}

#ifndef APP_BACKUP_H_
#define APP_BACKUP_H_

#ifdef __cplusplus
extern "C" {
#endif

int app_backup_init(void);
int app_backup_sample(void);
int app_backup_clear(void);

#ifdef __cplusplus
}
#endif

#endif /* APP_BACKUP_H_ */
