version: 2
type: decoder
name: com.hardwario.chester.app.{{data['project']['variant'] | lower | replace(' ', '.')}}
schema:
  - message:
    - version:
    - sequence:
    - timestamp:
  - attribute:
    - vendor_name:
    - product_name:
    - hw_variant:
    - hw_revision:
    - fw_version:
    - serial_number:
  - system:
    - uptime:
    - voltage_load:
      - $div: 1000
      - $fpp: 2
    - voltage_rest:
      - $div: 1000
      - $fpp: 2
    - current_load:
  - network:
    - imei:
    - imsi:
  - thermometer:
    - temperature:
      - $div: 100
      - $fpp: 2
  - accelerometer:
    - accel_x:
      - $div: 1000
      - $fpp: 2
    - accel_y:
      - $div: 1000
      - $fpp: 2
    - accel_z:
      - $div: 1000
      - $fpp: 2
    - orientation:
