{#- COPYRIGHT AND LICENSE #}
{%- if data['project']['company'] or data['project']['license'] -%}
#
	{%- if data['project']['company'] %}
# Copyright (c) {{data['project']['company']}}
	{%- endif %}
	{%- if data['project']['company'] and data['project']['license'] %}
# 
	{%- endif %}
	{%- if data['project']['license'] %}
# {{data['project']['license'] }}
	{%- endif %}
#
{% raw %}
{% endraw %}
{%- endif -%}
cmake_minimum_required(VERSION 3.20.0)

set(ENV{FW_BUNDLE} "{{data['project']['fw_bundle']}}")
set(ENV{FW_VERSION} "{{data['project']['fw_version']}}")
set(ENV{FW_NAME} "{{data['project']['fw_name']}}")

find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})

project({{ project_name }})
{%- if 'subsystem-lte' in data['features']%}

add_custom_command(
    COMMAND ../../../scripts/gen-msg-key.py ../codec/cbor-decoder.yaml ../src/msg_key.h
    OUTPUT ../src/msg_key.h
    MAIN_DEPENDENCY ../codec/cbor-decoder.yaml
)

{%- endif %}

{%- if 'subsystem-lte-v2' in data['features']%}

add_custom_command(
    COMMAND west gen-codec -d ../codec/cbor-decoder.yaml -e ../codec/cbor-encoder.yaml -o ../src/app_codec.h
    OUTPUT ../src/app_codec.h
    DEPENDS ../codec/cbor-decoder.yaml
)

{%- endif %}
{% for file in sources %}
	{%- if file %}
target_sources(app PRIVATE src/{{ file }})
	{%- endif %}
{%- endfor %}

target_precompile_headers(app PRIVATE src/feature.h)

# ### Preserved code "cmake" (begin)
# ^^^ Preserved code "cmake" (end)
{%- raw %}
{% endraw%}