{#- COPYRIGHT AND LICENSE #}
{%- if data['project']['company'] or data['project']['license'] -%}
#
	{%- if data['project']['company'] %}
# Copyright (c) {{data['project']['company']}}
	{%- endif %}
	{%- if data['project']['company'] and data['project']['license'] %}
#
	{%- endif %}
	{%- if data['project']['license'] %}
# {{data['project']['license'] }}
	{%- endif %}
#
{% endif %}
{%- set variant_found = [] -%}
{% for variant in data['variants'] -%}
    {%- if (data['project']['variant'] | upper ) == ( variant['name'] | upper ) or (data['project']['variant'] | upper ) == ( variant['name'] | upper | replace(' ', '-') ) %}
config VARIANT_{{variant['name'] | upper | replace(' ', '_') }}
    bool "Enable VARIANT_{{variant['name'] | upper | replace(' ', '_') }}"
    default y
        {% do variant_found.append(1) %}
    {%- endif %}
{%- endfor -%}
{%- if not variant_found %}
config VARIANT_{{data['project']['variant'] | upper | replace(' ', '_') }}
    bool "Enable VARIANT_{{data['project']['variant'] | upper | replace(' ', '_') }}"
    default y
{{ log.wrn('The requested variant is not part of the default CHESTER variants or is unspecified. This is a CUSTOM project')}}
{%- endif -%}
{% raw -%}
{% endraw -%}
