{#- COPYRIGHT AND LICENSE #}
{%- if data['project']['company'] or data['project']['license'] -%}
#
	{%- if data['project']['company'] %}
# Copyright (c) {{data['project']['company']}}
	{%- endif %}
	{%- if data['project']['company'] and data['project']['license'] %}
# 
	{%- endif %}
	{%- if data['project']['license'] %}
# {{data['project']['license'] }}
	{%- endif %}
#
{% raw %}
{% endraw %}
{%- endif -%}

CONFIG_BOOT_MAX_IMG_SECTORS=4096
CONFIG_BOOT_SWAP_USING_SCRATCH=y
CONFIG_MULTITHREADING=y
CONFIG_SPI=y

CONFIG_MCUBOOT_ACTION_HOOKS=y
