/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "HARDWARIO CHESTER nRF52840";
	compatible = "hardwario,chester-nrf52840";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
	/*
	interrupts = <6 NRF_DEFAULT_IRQ_PRIORITY>;
	*/
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	sda-pin = <21>;
	scl-pin = <20>;
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	sck-pin = <22>;
	mosi-pin = <32>;
	miso-pin = <24>;
	miso-pull-down;
	cs-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	tx-pin = <13>;
	rx-pin = <14>;
	/delete-property/ hw-flow-control;
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;
};

&uart1 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <19200>;
	tx-pin = <7>;
	rx-pin = <8>;
	/delete-property/ hw-flow-control;
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x00012000>;
		};
		slot0_partition: partition@12000 {
			label = "image-0";
			reg = <0x00012000 0x000069000>;
		};
		slot1_partition: partition@7b000 {
			label = "image-1";
			reg = <0x0007b000 0x000069000>;
		};
		scratch_partition: partition@e4000 {
			label = "image-scratch";
			reg = <0x000e4000 0x00018000>;
		};
		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0x000fc000 0x00004000>;
		};
	};
};
