CONFIG_ADC=y
CONFIG_ADC_NRFX_SAADC=y
CONFIG_ADC_SHELL=n
CONFIG_ARM_MPU=y
CONFIG_ASSERT=y
CONFIG_BOARD_CHESTER_NRF52840=y
CONFIG_DEBUG=y
CONFIG_GPIO_AS_PINRESET=y
CONFIG_GPIO=y
CONFIG_HEAP_MEM_POOL_SIZE=2048
CONFIG_HW_STACK_PROTECTION=y
CONFIG_I2C=y
CONFIG_KERNEL_SHELL=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_NEWLIB_LIBC_FLOAT_PRINTF=y
CONFIG_NEWLIB_LIBC_FLOAT_SCANF=y
CONFIG_NEWLIB_LIBC=y
CONFIG_NFCT_PINS_AS_GPIOS=y
CONFIG_NRF_SW_LPUART=n
CONFIG_NRFX_PPI=y
CONFIG_NRFX_RTC=y
CONFIG_NRFX_RTC0=y
CONFIG_NRFX_TIMER=y
CONFIG_NRFX_TIMER1=y
CONFIG_NRFX_TIMER2=y
CONFIG_NRFX_UARTE=y
CONFIG_NRFX_UARTE0=y
CONFIG_NRFX_UARTE1=y
CONFIG_PM_DEVICE=y
CONFIG_PM=y
CONFIG_PRINTK=y
CONFIG_REBOOT=y
CONFIG_RING_BUFFER=y
CONFIG_SERIAL=y
CONFIG_SHELL_BACKEND_RTT=y
CONFIG_SHELL_BACKEND_SERIAL=n
CONFIG_SHELL_CMDS=y
CONFIG_SHELL_DEFAULT_TERMINAL_WIDTH=1024
CONFIG_SHELL_ECHO_STATUS=n
CONFIG_SHELL_HELP_ON_WRONG_ARGUMENT_COUNT=y
CONFIG_SHELL_HELP=y
CONFIG_SHELL_LOG_BACKEND=n
CONFIG_SHELL_MINIMAL=y
CONFIG_SHELL_PROMPT_RTT=""
CONFIG_SHELL_RTT_RX_POLL_PERIOD=200
CONFIG_SHELL_STACK_SIZE=2048
CONFIG_SHELL_STATS=y
CONFIG_SHELL=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SPI=y
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2048
CONFIG_TICKLESS_KERNEL=y
CONFIG_TIMEOUT_64BIT=y
CONFIG_UART_0_ASYNC=y
CONFIG_UART_0_INTERRUPT_DRIVEN=n
CONFIG_UART_0_NRF_HW_ASYNC_TIMER=1
CONFIG_UART_0_NRF_HW_ASYNC=y
CONFIG_UART_1_ASYNC=y
CONFIG_UART_1_INTERRUPT_DRIVEN=n
CONFIG_UART_1_NRF_HW_ASYNC_TIMER=2
CONFIG_UART_1_NRF_HW_ASYNC=y
CONFIG_UART_ASYNC_API=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_LINE_CTRL=y

CONFIG_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_MAP_SHELL=n
CONFIG_FLASH_PAGE_LAYOUT=y #
CONFIG_FLASH_MAP=y
CONFIG_SETTINGS=y
CONFIG_SETTINGS_RUNTIME=y
CONFIG_SETTINGS_NVS=y

CONFIG_USE_SEGGER_RTT=y

CONFIG_SEGGER_RTT_MAX_NUM_DOWN_BUFFERS=3
CONFIG_SEGGER_RTT_MAX_NUM_UP_BUFFERS=3
CONFIG_SEGGER_RTT_BUFFER_SIZE_DOWN=4096
CONFIG_SEGGER_RTT_BUFFER_SIZE_UP=4096

CONFIG_THREAD_MONITOR=y
CONFIG_INIT_STACKS=y
CONFIG_THREAD_NAME=y
CONFIG_CLOCK_CONTROL_NRF_SHELL=y

CONFIG_BOOT_BANNER=y

CONFIG_LOG_BACKEND_RTT_BUFFER=1
CONFIG_LOG_BACKEND_RTT_BUFFER_SIZE=4096
CONFIG_LOG_BACKEND_RTT=y
CONFIG_LOG_BACKEND_SHOW_COLOR=n
CONFIG_LOG_BACKEND_UART=n
CONFIG_LOG_SPEED=y
CONFIG_LOG=y
CONFIG_LOG2_MODE_IMMEDIATE=y

CONFIG_CBPRINTF_COMPLETE=y
CONFIG_CBPRINTF_FP_SUPPORT=y
CONFIG_CBPRINTF_FULL_INTEGRAL=y

# Options for further reference and examination
# =============================================
# CONFIG_CBPRINTF_PACKAGE_LONGDOUBLE=y
# CONFIG_CBPRINTF_STATIC_PACKAGE_CHECK_ALIGNMENT=y
# CONFIG_CONSOLE=n
# CONFIG_RTT_CONSOLE=n
# CONFIG_STDOUT_CONSOLE=n
