/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>
#include "chester_nrf52840-pinctrl.dtsi"

/ {
	model = "HARDWARIO CHESTER nRF52840";
	compatible = "hardwario,chester-nrf52840";

	chosen {
		ctr,batt_adc = &tla2021;
		ctr,lte_if = &ctr_lte_if;
		ctr,lrw_if = &ctr_lrw_if;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	buttons {
		compatible = "gpio-keys";

		btn_int: btn_int {
			label = "BTN_INT";
			gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		btn_ext: btn_ext {
			label = "BTN_EXT";
			gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	led_rgy {
		compatible = "gpio-leds";

		led_r: led_r {
			label = "LED_R";
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		};

		led_g: led_g {
			label = "LED_G";
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		};

		led_y: led_y {
			label = "LED_Y";
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		};
	};

	led_ext {
		compatible = "gpio-leds";

		led_ext: led_ext {
			label = "LED_EXT";
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
	};

	ctr_gpio: ctr_gpio {
		compatible = "hardwario,ctr-gpio";
		label = "CTR_GPIO";
		status = "disabled";
		a0-gpios = <&gpio0 3 0>;
		a1-gpios = <&gpio0 29 0>;
		a2-gpios = <&gpio0 2 0>;
		a3-gpios = <&gpio0 31 0>;
		b0-gpios = <&gpio0 28 0>;
		b1-gpios = <&gpio0 30 0>;
		b2-gpios = <&gpio0 4 0>;
		b3-gpios = <&gpio0 5 0>;
	};

	ctr_x0_a: ctr_x0_a {
		compatible = "hardwario,ctr-x0";
		label = "CTR_X0_A";
		status = "disabled";
		ch1-gpios = <&gpio0 3 0>;
		on1-gpios = <&ctr_x0_pcal6416a_a 11 GPIO_ACTIVE_LOW>;
		pu1-gpios = <&ctr_x0_pcal6416a_a 13 GPIO_ACTIVE_LOW>;
		pd1-gpios = <&ctr_x0_pcal6416a_a 15 GPIO_ACTIVE_HIGH>;
		cl1-gpios = <&ctr_x0_pcal6416a_a 14 GPIO_ACTIVE_HIGH>;
		ch2-gpios = <&gpio0 29 0>;
		on2-gpios = <&ctr_x0_pcal6416a_a 10 GPIO_ACTIVE_LOW>;
		pu2-gpios = <&ctr_x0_pcal6416a_a 8 GPIO_ACTIVE_LOW>;
		pd2-gpios = <&ctr_x0_pcal6416a_a 12 GPIO_ACTIVE_HIGH>;
		cl2-gpios = <&ctr_x0_pcal6416a_a 9 GPIO_ACTIVE_HIGH>;
		ch3-gpios = <&gpio0 2 0>;
		on3-gpios = <&ctr_x0_pcal6416a_a 3 GPIO_ACTIVE_LOW>;
		pu3-gpios = <&ctr_x0_pcal6416a_a 5 GPIO_ACTIVE_LOW>;
		pd3-gpios = <&ctr_x0_pcal6416a_a 7 GPIO_ACTIVE_HIGH>;
		cl3-gpios = <&ctr_x0_pcal6416a_a 6 GPIO_ACTIVE_HIGH>;
		ch4-gpios = <&gpio0 31 0>;
		on4-gpios = <&ctr_x0_pcal6416a_a 0 GPIO_ACTIVE_LOW>;
		pu4-gpios = <&ctr_x0_pcal6416a_a 2 GPIO_ACTIVE_LOW>;
		pd4-gpios = <&ctr_x0_pcal6416a_a 4 GPIO_ACTIVE_HIGH>;
		cl4-gpios = <&ctr_x0_pcal6416a_a 1 GPIO_ACTIVE_HIGH>;
	};

	ctr_x0_b: ctr_x0_b {
		compatible = "hardwario,ctr-x0";
		label = "CTR_X0_B";
		status = "disabled";
		ch1-gpios = <&gpio0 28 0>;
		on1-gpios = <&ctr_x0_pcal6416a_b 11 GPIO_ACTIVE_LOW>;
		pu1-gpios = <&ctr_x0_pcal6416a_b 13 GPIO_ACTIVE_LOW>;
		pd1-gpios = <&ctr_x0_pcal6416a_b 15 GPIO_ACTIVE_HIGH>;
		cl1-gpios = <&ctr_x0_pcal6416a_b 14 GPIO_ACTIVE_HIGH>;
		ch2-gpios = <&gpio0 30 0>;
		on2-gpios = <&ctr_x0_pcal6416a_b 10 GPIO_ACTIVE_LOW>;
		pu2-gpios = <&ctr_x0_pcal6416a_b 8 GPIO_ACTIVE_LOW>;
		pd2-gpios = <&ctr_x0_pcal6416a_b 12 GPIO_ACTIVE_HIGH>;
		cl2-gpios = <&ctr_x0_pcal6416a_b 9 GPIO_ACTIVE_HIGH>;
		ch3-gpios = <&gpio0 4 0>;
		on3-gpios = <&ctr_x0_pcal6416a_b 3 GPIO_ACTIVE_LOW>;
		pu3-gpios = <&ctr_x0_pcal6416a_b 5 GPIO_ACTIVE_LOW>;
		pd3-gpios = <&ctr_x0_pcal6416a_b 7 GPIO_ACTIVE_HIGH>;
		cl3-gpios = <&ctr_x0_pcal6416a_b 6 GPIO_ACTIVE_HIGH>;
		ch4-gpios = <&gpio0 5 0>;
		on4-gpios = <&ctr_x0_pcal6416a_b 0 GPIO_ACTIVE_LOW>;
		pu4-gpios = <&ctr_x0_pcal6416a_b 2 GPIO_ACTIVE_LOW>;
		pd4-gpios = <&ctr_x0_pcal6416a_b 4 GPIO_ACTIVE_HIGH>;
		cl4-gpios = <&ctr_x0_pcal6416a_b 1 GPIO_ACTIVE_HIGH>;
	};

	ctr_x3_a: ctr_x3_a {
		compatible = "hardwario,ctr-x3";
		label = "CTR_X3_A";
		status = "disabled";
		slot = "A";
		pwr0-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		pwr1-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	ctr_x3_b: ctr_x3_b {
		compatible = "hardwario,ctr-x3";
		label = "CTR_X3_B";
		status = "disabled";
		slot = "B";
		pwr0-gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		pwr1-gpios = <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	ctr_x4_a: ctr_x4_a {
		compatible = "hardwario,ctr-x4";
		label = "CTR_X4_A";
		status = "disabled";
		pwr1-gpios = <&gpio0 3 0>;
		pwr2-gpios = <&gpio0 29 0>;
		pwr3-gpios = <&gpio0 2 0>;
		pwr4-gpios = <&gpio0 31 0>;
	};

	ctr_x4_b: ctr_x4_b {
		compatible = "hardwario,ctr-x4";
		label = "CTR_X4_B";
		status = "disabled";
		pwr1-gpios = <&gpio0 28 0>;
		pwr2-gpios = <&gpio0 30 0>;
		pwr3-gpios = <&gpio0 4 0>;
		pwr4-gpios = <&gpio0 5 0>;
	};

	ctr_batt: ctr_batt {
		compatible = "hardwario,ctr-batt";
		label = "CTR_BATT";
		load-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		test-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		load-resistor = <100>;
		divider-r1 = <10>;
		divider-r2 = <5>;
	};

	ctr_rfmux: ctr_rfmux {
		compatible = "hardwario,ctr-rfmux";
		label = "CTR_RFMUX";
		rf-lte-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		rf-lrw-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		rf-int-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		rf-ext-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
	};

	aliases {
		led0 = &led_r;
		led1 = &led_g;
		led2 = &led_y;
		led3 = &led_ext;
		sw0 = &btn_int;
		sw1 = &btn_ext;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	ctr_s1: ctr_s1@11 {
		compatible = "hardwario,ctr-s1";
		label = "CTR_S1";
		status = "disabled";
		reg = <0x11>;
		irq-gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	ctr_x0_pcal6416a_a: ctr_x0_pcal6416a_a@20 {
		compatible = "nxp,pcal6416a";
		label = "CTR_X0_PCAL6416A_A";
		status = "disabled";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
	};

	ctr_x0_pcal6416a_b: ctr_x0_pcal6416a_b@21 {
		compatible = "nxp,pcal6416a";
		label = "CTR_X0_PCAL6416A_B";
		status = "disabled";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
	};

	ctr_x2_sc16is740_a: uart@50 {
		compatible = "nxp,sc16is7xx";
		label = "CTR_X2_SC16IS740_A";
		reg = <0x50>;
		clock-frequency = <14745600>;
		prescaler = <1>;
		irq-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
	};

	ctr_x2_sc16is740_b: uart@51 {
		compatible = "nxp,sc16is7xx";
		label = "CTR_X2_SC16IS740_B";
		reg = <0x51>;
		clock-frequency = <14745600>;
		prescaler = <1>;
		irq-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
	};

	ctr_x3_ads122c04_a1: ctr_x3_ads122c04_a1@46 {
		compatible = "ti,ads122c04";
		label = "CTR_X3_ADS122C04_A1";
		status = "disabled";
		reg = <0x46>;
		mux = <3>;
		#io-channel-cells = <1>;
	};

	ctr_x3_ads122c04_a2: ctr_x3_ads122c04_a2@47 {
		compatible = "ti,ads122c04";
		label = "CTR_X3_ADS122C04_A2";
		status = "disabled";
		reg = <0x47>;
		mux = <3>;
		#io-channel-cells = <1>;
	};

	ctr_x3_ads122c04_b1: ctr_x3_ads122c04_b1@4a {
		compatible = "ti,ads122c04";
		label = "CTR_X3_ADS122C04_B1";
		status = "disabled";
		reg = <0x4a>;
		mux = <3>;
		#io-channel-cells = <1>;
	};

	ctr_x3_ads122c04_b2: ctr_x3_ads122c04b2@4f {
		compatible = "ti,ads122c04";
		label = "CTR_X3_ADS122C04_B2";
		status = "disabled";
		reg = <0x4f>;
		mux = <3>;
		#io-channel-cells = <1>;
	};

	ctr_x4_tla2021: ctr_x4_tla2021@49 {
		compatible = "ti,tla2021";
		label = "TLA2021";
		status = "disabled";
		reg = <0x49>;
		#io-channel-cells = <1>;
	};

	ctr_z: ctr_z@10 {
		compatible = "hardwario,ctr-z";
		label = "CTR_Z";
		status = "disabled";
		reg = <0x10>;
		irq-gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	ds2484: ds2484@18 {
		compatible = "maxim,ds2484";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x18>;
		label = "DS2484";
		slpz-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		active-pullup;
	};

	lis2dh12: lis2dh12@19 {
		compatible = "st,lis2dh";
		label = "LIS2DH12";
		reg = <0x19>;
		irq-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>,
		            <&gpio0 17 GPIO_ACTIVE_HIGH>;
	};

	m8: m8@42 {
		compatible = "u-blox,m8";
		status = "disabled";
		reg = <0x42>;
		label = "M8";
		main-en-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		bckp-en-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
	};

	sht30_int: sht30_int@44 {
		compatible = "sensirion,sht3xd";
		label = "SHT30_INT";
		status = "disabled";
		reg = <0x44>;
	};

	sht30_ext: sht30_ext@45 {
		compatible = "sensirion,sht3xd";
		label = "SHT30_EXT";
		status = "disabled";
		reg = <0x45>;
	};

	tmp112: tmp112@48 {
		compatible = "ti,tmp112";
		label = "TMP112";
		reg = <0x48>;
	};

	tla2021: tla2021@4b {
		compatible = "ti,tla2021";
		label = "TLA2021";
		reg = <0x4b>;
		#io-channel-cells = <1>;
	};
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;

	flash1: at45db641e@0 {
		compatible = "atmel,at45";
		label = "NOR";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <15000000>;
		jedec-id = [ 1f 28 00  ];
		size = <8388608>;
		sector-size = <262144>;
		block-size = <2048>;
		page-size = <256>;
		use-udpd;
		enter-dpd-delay = <3000>;  /* w/o use-udpd  <2000> */
		exit-dpd-delay = <100000>; /* w/o use-udpd <35000> */
	};
};

&uart0 {
	status = "disabled";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";

	ctr_lte_if: ctr_lte_if {
		compatible = "hardwario,ctr-lte-if";
		label = "CTR_LTE_IF";
		status = "disabled";
		reset-gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		wakeup-gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};

&uart1 {
	status = "disabled";
	compatible = "nordic,nrf-uarte";
	current-speed = <19200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";

	ctr_lrw_if: ctr_lrw_if {
		compatible = "hardwario,ctr-lrw-if";
		label = "CTR_LRW_IF";
		status = "disabled";
		reset-gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x00012000>;
		};

		slot0_partition: partition@12000 {
			label = "image-0";
			reg = <0x00012000 0x000069000>;
		};

		slot1_partition: partition@7b000 {
			label = "image-1";
			reg = <0x0007b000 0x000069000>;
		};

		scratch_partition: partition@e4000 {
			label = "image-scratch";
			reg = <0x000e4000 0x00018000>;
		};

		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0x000fc000 0x00004000>;
		};
	};
};
