/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "HARDWARIO CHESTER nRF52840";
	compatible = "hardwario,chester-nrf52840";

	chosen {
		ctr,batt_adc = &tla2021;
		ctr,lte_if = &ctr_lte_if;
		ctr,lrw_if = &ctr_lrw_if;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	buttons {
		compatible = "gpio-keys";

		btn_int: btn_int {
			label = "BTN_INT";
			gpios = <&gpio0 27 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		btn_ext: btn_ext {
			label = "BTN_EXT";
			gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	led_rgy {
		compatible = "gpio-leds";

		led_r: led_r {
			label = "LED_R";
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		};

		led_g: led_g {
			label = "LED_G";
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
		};

		led_y: led_y {
			label = "LED_Y";
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
		};
	};

	led_ext {
		compatible = "gpio-leds";

		led_ext: led_ext {
			label = "LED_EXT";
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
	};

	ctr_batt: ctr_batt {
		compatible = "hardwario,ctr-batt";
		label = "CTR_BATT";
		load-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		test-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		load-resistor = <100>;
		divider-r1 = <10>;
		divider-r2 = <5>;
	};

	ctr_rfmux: ctr_rfmux {
		compatible = "hardwario,ctr-rfmux";
		label = "CTR_RFMUX";
		rf-lte-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		rf-lrw-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
		rf-int-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		rf-ext-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
	};

	aliases {
		led0 = &led_r;
		led1 = &led_g;
		led2 = &led_y;
		led3 = &led_ext;
		sw0 = &btn_int;
		sw1 = &btn_ext;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	sda-pin = <21>;
	scl-pin = <20>;

	ctr_z: ctr_z@4f {
		status = "disabled";
		compatible = "hardwario,ctr-z";
		reg = <0x4f>;
		label = "CTR_Z";
		irq-gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	lis2dh12: lis2dh12@19 {
		compatible = "st,lis2dh";
		reg = <0x19>;
		label = "LIS2DH12";
		irq-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>,
		            <&gpio0 17 GPIO_ACTIVE_HIGH>;
	};

	m8: m8@42 {
		compatible = "u-blox,m8";
		reg = <0x42>;
		label = "M8";
		main-en-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		bckp-en-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
	};

	sht30_int: sht30_int@44 {
		status = "disabled";
		compatible = "sensirion,sht3xd";
		reg = <0x44>;
		label = "SHT30_INT";
	};

	sht30_ext: sht30_ext@45 {
		status = "disabled";
		compatible = "sensirion,sht3xd";
		reg = <0x45>;
		label = "SHT30_EXT";
	};

	tmp112: tmp112@48 {
		compatible = "ti,tmp112";
		reg = <0x48>;
		label = "TMP112";
	};

	tla2021: tla2021@4b {
		compatible = "ti,tla2021";
		reg = <0x4b>;
		label = "TLA2021";
		#io-channel-cells = <1>;
	};
};

&spi1 {
	status = "okay";
	compatible = "nordic,nrf-spi";
	sck-pin = <22>;
	mosi-pin = <32>;
	miso-pin = <24>;
	miso-pull-down;
	cs-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;

	flash1: at45db641e@0 {
		status = "okay";
		compatible = "atmel,at45";
		reg = <0>;
		label = "NOR";
		spi-max-frequency = <15000000>;
		jedec-id = [ 1f 28 00  ];
		size = <8388608>;
		sector-size = <262144>;
		block-size = <2048>;
		page-size = <256>;
		use-udpd;
		enter-dpd-delay = <3000>;  /* w/o use-udpd  <2000> */
		exit-dpd-delay = <100000>; /* w/o use-udpd <35000> */
	};
};

&uart0 {
	status = "disabled";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	tx-pin = <13>;
	rx-pin = <14>;
	/delete-property/ hw-flow-control;
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;

	ctr_lte_if: ctr_lte_if {
		compatible = "hardwario,ctr-lte-if";
		status = "disabled";
		label = "CTR_LTE_IF";
		reset-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		wakeup-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
	};
};

&uart1 {
	status = "disabled";
	compatible = "nordic,nrf-uarte";
	current-speed = <19200>;
	tx-pin = <7>;
	rx-pin = <8>;
	/delete-property/ hw-flow-control;
	/delete-property/ rts-pin;
	/delete-property/ cts-pin;

	ctr_lrw_if: ctr_lrw_if {
		compatible = "hardwario,ctr-lrw-if";
		status = "disabled";
		label = "CTR_LRW_IF";
		reset-gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x000000000 0x00012000>;
		};

		slot0_partition: partition@12000 {
			label = "image-0";
			reg = <0x00012000 0x000069000>;
		};

		slot1_partition: partition@7b000 {
			label = "image-1";
			reg = <0x0007b000 0x000069000>;
		};

		scratch_partition: partition@e4000 {
			label = "image-scratch";
			reg = <0x000e4000 0x00018000>;
		};

		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0x000fc000 0x00004000>;
		};
	};
};
