#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_HYGRO
	bool "CTR_HYGRO"
	select CBPRINTF_FP_SUPPORT if CTR_HYGRO_LOG_LEVEL_DBG || CTR_HYGRO_SHELL
	select I2C
	select SENSOR
	select SHT3XD

if CTR_HYGRO

module = CTR_HYGRO
module-str = CHESTER Hygrometer Subsystem
source "subsys/logging/Kconfig.template.log_config"

choice SHT3XD_MEASUREMENT_MODE
 	default SHT3XD_SINGLE_SHOT_MODE
endchoice

config CTR_HYGRO_SHELL
	bool "CTR_HYGRO_SHELL"
	depends on SHELL
	default y

endif # CTR_HYGRO
