config CTR_LRW
	bool "CTR_LRW"
	depends on CTR_CONFIG
	select CTR_SDK

if CTR_LRW

config CTR_LRW_THREAD_STACK_SIZE
	int "CTR_LRW_THREAD_STACK_SIZE"
	default 4096

config CTR_LRW_THREAD_PRIORITY
	int "CTR_LRW_THREAD_PRIORITY"
	default 10

module = CTR_LRW
module-str = CHESTER LoRaWAN Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_LRW
