/*
 * Copyright (c) 2023 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */

/ {
	zephyr,user {
		tamper-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
	};

	chosen {
		nordic,pm-ext-flash = &spi_flash0;
	};
};

&spi_flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		littlefs_storage: partition@0 {
			label = "littlefs_storage";

			/*
			 * This size doesn't matter due to Nordic's partition
			 * manager; For the sake of consistency this should
			 * match the configured size
			 */
			reg = <0x00000000 0x730000>;
		};
	};
};

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&littlefs_storage>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};
