#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

# CHESTER-APP-REPORT-JITTER
config APP_REPORT_JITTER
	bool "Add random time jitter to report transfers"
	default y
	select ENTROPY_GENERATOR
# HARDWARE-CHESTER-S2
config SHIELD_CTR_S2
	bool "Enable SHIELD_CTR_S2"
	default y

config CTR_HYGRO
	default y
# SUBSYSTEM-LRW
config SHIELD_CTR_LRW
	bool "Enable SHIELD_CTR_LRW"
	default y

config CTR_LRW
	default y
# SUBSYSTEM-LTE-V2
config SHIELD_CTR_LTE_V2
	bool "Enable SHIELD_CTR_LTE_V2"
	default y

config CTR_LTE_V2
	default y

# ### Preserved code "k_config" (begin)
# ^^^ Preserved code "k_config" (end)

rsource "Kconfig.variant"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
