#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

if SHIELD_CTR_MB7066_B

config CTR_X0
	default y

config MB7066
	default y

endif # SHIELD_MB7066_B
