#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config PEOPLE_COUNTER
	bool "Adastra People Counter Module"
	depends on I2C

if PEOPLE_COUNTER

module = PEOPLE_COUNTER
module-str = people_counter
source "subsys/logging/Kconfig.template.log_config"

endif # PEOPLE_COUNTER
