#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_X3
	bool "HARDWARIO CHESTER-X3 (Precision Analog) Driver"
	select ADC
	select ADC_ADS122C04
	select GPIO
	select I2C

if CTR_X3

module = CTR_X3
module-str = ctr_x3
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_X3
