#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_LRW_IF
	bool "CHESTER LRW Interface Driver"
	default y
	depends on DT_HAS_HARDWARIO_CTR_LRW_IF_ENABLED
	select NRFX_TIMER2
	select POLL
	select SERIAL
	select UART_1_NRF_HW_ASYNC
	select UART_ASYNC_API

if CTR_LRW_IF

module = CTR_LRW_IF
module-str = CHESTER LRW Interface Driver
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_LRW_IF

config UART_1_NRF_HW_ASYNC_TIMER
	default 2 if CTR_LRW_IF
