#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_S1
	bool "HARDWARIO CHESTER-S1 Cover Module"
	depends on GPIO
	depends on I2C
	select POLL
	select REQUIRES_FULL_LIBC

if CTR_S1

config CTR_S1_SHELL
	depends on SHELL
	bool "CTR_S1_SHELL"
	default y

module = CTR_S1
module-str = ctr_s1
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_S1
