#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_THERM
	bool "CTR_THERM"
	select CBPRINTF_FP_SUPPORT if CTR_THERM_LOG_LEVEL_DBG || CTR_THERM_SHELL
	select I2C
	select SENSOR
	select TMP112

if CTR_THERM

module = CTR_THERM
module-str = CHESTER Thermometer Subsystem
source "subsys/logging/Kconfig.template.log_config"

config CTR_THERM_SHELL
	bool "CTR_THERM_SHELL"
	depends on SHELL
	default y

endif # CTR_THERM
