menu "Drivers"

rsource "adc/Kconfig"
rsource "ctr_batt/Kconfig"
rsource "ctr_lrw_if/Kconfig"
rsource "ctr_lte_if/Kconfig"
rsource "ctr_rfmux/Kconfig"
rsource "ctr_x0/Kconfig"
rsource "ctr_x3/Kconfig"
rsource "ctr_z/Kconfig"
rsource "gnss/Kconfig"
rsource "gpio/Kconfig"
rsource "serial/Kconfig"

endmenu
