/*
 * Copyright (c) 2023 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */

/ {
	chosen {
		ctr,lte_if_v2 = &ctr_lte_if_v2;
	};
};

&uart0 {
	status = "okay";

	ctr_lte_if_v2: ctr_lte_if_v2 {
		compatible = "hardwario,ctr-lte-if-v2";
		status = "okay";
		reset-gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		wakeup-gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};
