config CTR_DS18B20
	bool "CTR_DS18B20"
	select CBPRINTF_FP_SUPPORT if CTR_DS18B20_LOG_LEVEL_DBG
	select DS18B20
	select I2C
	select PM
	select PM_DEVICE
	select SENSOR
	select W1
	select W1_DS2484

if CTR_DS18B20

module = CTR_DS18B20
module-str = CHESTER DS18B20 Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_DS18B20
