#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_DS18B20
	bool "CTR_DS18B20"
	select CBPRINTF_FP_SUPPORT if CTR_DS18B20_LOG_LEVEL_DBG || CTR_DS18B20_SHELL
	select CTR_W1
	select DS18B20
	select GPIO
	select I2C
	select SENSOR
	select W1_DS2484

if CTR_DS18B20

module = CTR_DS18B20
module-str = CHESTER DS18B20 Subsystem
source "subsys/logging/Kconfig.template.log_config"

config CTR_DS18B20_SHELL
	bool "CTR_DS18B20_SHELL"
	depends on SHELL
	default y

endif # CTR_DS18B20
