#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

config APP_FLIP_MODE
	bool "Activate push-button flip mode"
	default n

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
