config CTR_LTE
	bool "CTR_LTE"
	depends on CTR_CONFIG
	select CTR_SDK

if CTR_LTE

config CTR_LTE_CLKSYNC
	bool "CTR_LTE_CLKSYNC"
	default n

config CTR_LTE_THREAD_STACK_SIZE
	int "CTR_LTE_THREAD_STACK_SIZE"
	default 4096

config CTR_LTE_THREAD_PRIORITY
	int "CTR_LTE_THREAD_PRIORITY"
	default 10

module = CTR_LTE
module-str = CHESTER LTE Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_LTE
