/*
 * Copyright (c) 2024 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */

/* HARDWARE-CHESTER-BAROMETER-TAG   */
&ctr_barometer_tag {
	status = "okay";
};
/* HARDWARE-CHESTER-METEO-A  */
&ctr_x0_a {
	status = "okay";

	ctr_meteo_a: ctr_meteo_a {
		compatible = "hardwario,ctr-meteo";
		slot = "A";
		status = "okay";
	};
};

&ctr_x0_pcal6416a_a {
	status = "okay";
};
/* HARDWARE-CHESTER-S2  */
&sht30_ext {
	status = "okay";
};
/* SUBSYSTEM-CLOUD  */
/ {
	chosen {
		nordic,pm-ext-flash = &spi_flash0;
	};
};

&spi_flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		littlefs_storage: partition@0 {
			label = "littlefs_storage";

			/*
			 * This size doesn't matter due to Nordic's partition
			 * manager; For the sake of consistency this should
			 * match the configured size
			 */
			reg = <0x00000000 0x730000>;
		};
	};
};

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&littlefs_storage>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};
/* SUBSYSTEM-DS18B20  */
&ds2484 {
	ds18b20_0: ds18b20_0 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_1: ds18b20_1 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_2: ds18b20_2 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_3: ds18b20_3 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_4: ds18b20_4 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_5: ds18b20_5 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_6: ds18b20_6 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_7: ds18b20_7 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_8: ds18b20_8 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_9: ds18b20_9 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};
};
/* SUBSYSTEM-LRW   */
&ctr_lrw_if {
	status = "okay";
};

&uart1 {
	status = "okay";
};
/* SUBSYSTEM-LTE-V2  */
/ {
	chosen {
		ctr,lte_link = &ctr_lte_link;
	};
};

&uart0 {
	status = "okay";

	ctr_lte_link: ctr_lte_link {
		compatible = "hardwario,ctr-lte-link";
		status = "okay";
		reset-gpios = <&gpio1 7 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
		wakeup-gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_OPEN_DRAIN)>;
	};
};

&uart0 {
	status = "okay";
};
/* SUBSYSTEM-SOIL-SENSOR  */
&ds2484 {
	ctr_soil_sensor_0: ctr_soil_sensor_0 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_1: ctr_soil_sensor_1 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_2: ctr_soil_sensor_2 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_3: ctr_soil_sensor_3 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_4: ctr_soil_sensor_4 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_5: ctr_soil_sensor_5 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_6: ctr_soil_sensor_6 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_7: ctr_soil_sensor_7 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_8: ctr_soil_sensor_8 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
	ctr_soil_sensor_9: ctr_soil_sensor_9 {
		compatible = "maxim,ds28e17";
		family-code = <0x19>;
	};
};

/* ### Preserved code "overlay" (begin) */
/* ^^^ Preserved code "overlay" (end) */
