#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

config APP_LAMBRECHT
	bool "Enable Modbus weather station from Lambrecht meteo"
	depends on SHIELD_CTR_X2_MODBUS_A

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
