#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config UART_SC16IS7XX
	bool "NXP SC16IS7XX UART driver"
	depends on GPIO && I2C && SERIAL
	select REQUIRES_FULL_LIBC
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT

if UART_SC16IS7XX

module = UART_SC16IS7XX
module-str = uart_sc16is7xx
source "subsys/logging/Kconfig.template.log_config"

config UART_SC16IS7XX_INIT_PRIORITY
	int "Init priority"
	default 80
	help
	  Device driver initialization priority.

endif # UART_SC16IS7XX
