config CTR_SAT
	bool "CTR_SAT"
	select REQUIRES_FULL_LIBC
	depends on SHELL

if CTR_SAT

config CTR_SAT_USE_WIFI_DEVKIT
	bool "Enable support for using Wi-Fi Devkit. Increase SRAM memory usage."
	default y

config CTR_SAT_THREAD_STACK_SIZE
	int "CHESTER SAT thread stack size"
	default 1024

config CTR_SAT_THREAD_PRIORITY
	int "CHESTER SAT thread priority"
	default 10

config CTR_SAT_INT_POLL_PERIOD_MSEC
	int "Polling delay (in msec) used for polling interrupt singnal for handling frequent interrupts and interrupts over W1"
	default 10000

module = CTR_SAT
module-str = CHESTER Satelite Module Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_SAT
