#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_K1
	bool "HARDWARIO CHESTER-K1 (Differential Inputs) Driver"
	depends on !ADC_NRFX_SAADC && !ADC_SHELL
	select CBPRINTF_FP_SUPPORT if CTR_SIGNAL_LOG_LEVEL_DBG
	select GPIO
	select GPIO_PCA953X
	select I2C
	select NRFX_PPI
	select NRFX_SAADC
	select NRFX_TIMER
	select NRFX_TIMER4
	select REQUIRES_FULL_LIBC

if CTR_K1

module = CTR_K1
module-str = ctr_k1
source "subsys/logging/Kconfig.template.log_config"

config CTR_K1_INIT_PRIORITY
	int "Init priority"
	default 99
	help
	  Device driver initialization priority.

endif # CTR_K1
