#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_INFO
	bool "CTR_INFO"
	select CRC

if CTR_INFO

config CTR_INFO_BLE
	depends on BT
	bool "CTR_INFO_BLE"
	default y

config CTR_INFO_SHELL
	depends on SHELL
	bool "CTR_INFO_SHELL"
	default y

config CTR_INFO_INIT_PRIORITY
	int "Initialization priority"
	default 0

module = CTR_INFO
module-str = CHESTER Firmware Information Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_INFO
