#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_GNSS
	bool "CTR_GNSS"
	select CBPRINTF_FP_SUPPORT if CTR_GNSS_LOG_LEVEL_DBG
	select GNSS
	select GNSS_M8
	select I2C
	select REQUIRES_FULL_LIBC

if CTR_GNSS

config CTR_GNSS_INIT_PRIORITY
	int "Initialization priority"
	default APPLICATION_INIT_PRIORITY

config CTR_GNSS_THREAD_PRIORITY
	int "CTR_GNSS_THREAD_PRIORITY"
	default 10

config CTR_GNSS_THREAD_STACK_SIZE
	int "CTR_GNSS_THREAD_STACK_SIZE"
	default 2048

module = CTR_GNSS
module-str = CHESTER GNSS Subsystem
source "subsys/logging/Kconfig.template.log_config"

endif # CTR_GNSS
