#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

config CTR_BUTTON
	bool "CTR_BUTTON"
	depends on SHELL
	select GPIO
	select CTR_EDGE

if CTR_BUTTON

module = CTR_BUTTON
module-str = CHESTER Button Subsystem
source "subsys/logging/Kconfig.template.log_config"

config CTR_BUTTON_INIT_PRIORITY
	int "Initialization priority"
	default APPLICATION_INIT_PRIORITY

endif # CTR_BUTTON
