name: Documentation build CI
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
      with:
        repository: 'jothepro/doxygen-awesome-css'
        path: 'doc/doxygen-awesome-css'
    - name: Build docs
      uses: mattnotmitt/doxygen-action@v1.9.5
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./doc/html

